/* purple color: #5557db;
*/
/* red color: #febfc0 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}
.header-left,
.header-right {
  display: flex;
  align-items: center;
}
.logo {
  height: 40px;
}
.icon {
  height: 24px;
  margin-right: 10px;
}
.usericon {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
}
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  width: 90%;
  text-align: left;
}
.tabs {
  display: flex;
  width: 90%;
  position: relative;
}
.tabs button {
  font-weight: bold;
  margin: 0 10px 0 0;
  padding: 5px 20px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: rgb(155, 155, 155);
  color: #333;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.tabs button img.tab {
  margin-left: 50px;
}
.tabs button.active {
  background-color: #fff;
  color: #5557db;
}
.tabs button:hover {
  background-color: #e0e0e0;
}
.color-values {
  margin-left: 2em;
}
.chat-container {
  display: flex;
  width: 90%;
  background-color: #fff;
  border: 1px solid #adaeee;
  border-radius: 0 10px 10px 0;
  height: 55vh;
}
.chat-header {
  display: flex;
  justify-content: center;
  font-size: 1em;
}
.chat-header .color-values {
  color: #5557db;
}
.conversation-list {
  border-right: 1px solid #ccc;
  padding: 0px 10px 10px 50px;
  overflow-y: auto;
}
.chat-messages {
  display: flex;
  flex-direction: column;
}
.conversation-list h2 {
  text-align: right;
  margin-top: 0;
}
.conversation-list ul {
  list-style: none;
  padding: 0;
}
.conversation-list ul li {
  margin-bottom: 10px;
}
.conversation-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px #6c6c6c;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1),
    0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
}
.conversation-item.selected {
  background-color: #edecec;
}
.profile-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.profile-info {
  display: flex;
  align-items: flex-start;
}
.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-info h3 {
  margin: 13px 0 0 0;
  font-size: 16px;
  font-weight: normal;
  align-self: flex-start;
}
.risk-message {
  flex-grow: 1;
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid #5557db;
  color: #5557db;
  border-radius: 10px;
  word-wrap: break-word;
}

.agree-disagree-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.radio-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radio-label {
  font-size: 12px;
  margin-bottom: 5px;
}
.radio-button {
  display: none;
}
.radio-button-label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #5557db;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.radio-button-label::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio-button:checked + .radio-button-label::before {
  background-color: #5557db;
}
.chat-interface {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  flex-direction: column;
  border: 1px solid #adaeee;
  border-radius: 10px;
  overflow-y: auto;
  width: 70%;
}
.conversation-header {
  padding: 10px 10px 40px 40px;
  border-bottom: 1px solid #ccc;
}
.help-logo {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-top: 10px;
}
.progress-bar {
  height: 100%;
  background-color: #5557db;
  border-radius: 10px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer-content p {
  margin: 0;
}
.footer-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 25px;
  margin-right: 15%;
}
.footer-button {
  background-color: rgb(155, 155, 155);
  color: rgb(47, 47, 47);
  border: 1.5px solid rgb(47, 47, 47);
  padding: 20px 25px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.footer-button:hover {
  background-color: #4546b5;
  color: white;
}
.footer-button:active {
  transform: scale(0.9);
}
/* scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
