/* App.css */
/* purple color: #5557db; */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.icon {
  height: 24px;
  margin-right: 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
}

button:active {
  transform: scale(0.9);
}

main {
  padding-left: 75px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
  text-align: left;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: left;
}

.tab-content {
  width: 100%;
  text-align: left;
}

.tabs button.active {
  font-weight: bold;
}

.chat-container {
  display: flex;
  width: 100%;
}

.conversation-list {
  width: 50%;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.chat-interface {
  width: 70%;
  padding: 10px;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.footer-buttons {
  display: flex;
}

.footer-button {
  background-color: rgb(155, 155, 155);
  color: rgb(47, 47, 47);
  border: 1.5px solid rgb(47, 47, 47);
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}